<h1 class="display-4 mb-5 mt-5">List of Volumes</h1>
<table class="table table-hover mb-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Start Year</th>
      <th scope="col">Total Issues</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
    <% @volumes.each do |volume| %>
    <tr>
      <th scope="row"><%= volume.id %></th>
      <td><%= volume.name %></td>
      <td><%= volume.start_year %></td>
      <td><%= volume.issues.length %></td>
      <td><%= link_to 'Show', volume_path(volume) %></td>
    </tr>
    <% end %>
  </tbody>
</table>